@import './../../styles/utilities';
//@import './../../styles/preloader';

.page{
    background: #FBEBD3;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

#home{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    .intro{
        width: 100%;
        height: 100%;
        //background: #FBEBD3;
        display: flex;
        justify-content: center;
        align-items: center;

        .heading{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: -5vw;

            p{
                font-family: 'pacifico';
                color: #707070;
                font-size: 2.75vw;
            }

            h1{
                font-size: 8vw;
            }

            h3{
                font-family: 'Roboto';
                font-weight: lighter;
                font-size: 4vw;
                color: #707070;
            }
        }

        .mouse{
            position: absolute;
            bottom: 2.5vw;
            left: 47.5vw;
            svg{
                width: 3vw;
            }
        }
    }
}
